<IfModule mod_rewrite.c>
Options -Multiviews -Indexes +FollowSymLinks
RewriteEngine On
#Uncomment next 2 lines if you want to have always redirect with www subdomain
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^logout$ index.php?logout=true [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^scripts.js Utils/scripts.php [L]
RewriteRule ^scripts.css Utils/scripts.php [L]
RewriteRule ^css/main.css Utils/scripts.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>
<IfModule mod_expires.c>
	<Filesmatch "\.(jpg|jpeg|png|gif|js|css|swf|ico|woff|mp3)$">
		ExpiresActive on
		ExpiresDefault "access plus 30 days"
	</Filesmatch>
</IfModule>