<IfModule mod_rewrite.c>
Options -Multiviews -Indexes +FollowSymLinks
RewriteEngine On
#Uncomment next 2 lines if you want to have always redirect with https
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#Uncomment next 2 lines if you want to have always redirect with www subdomain
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]RewriteRule ^js/login.js$ Module/Users/login.js [L]
RewriteRule ^css/main.css Utils/scripts.php [L]
RewriteRule ^js/jquery.min.js vendor/components/jquery/jquery.min.js [L]
RewriteRule ^js/jquery-ui.min.js vendor/components/jqueryui/jquery-ui.min.js [L]
RewriteRule ^css/font-awesome.css vendor/components/font-awesome/css/all.min.css [L]
RewriteRule ^fonts/fontawesome/(.*)$ vendor/components/font-awesome/webfonts/$1 [NC,L]
RewriteRule ^webfonts/fa-(.*)$ vendor/components/font-awesome/webfonts/fa-$1 [NC,L]
RewriteRule ^css/(.*)$ assets/css/$1 [NC,L]
RewriteRule ^scss/(.*)$ assets/scss/$1 [NC,L]
RewriteRule ^js/(.*)$ assets/js/$1 [NC,L]
RewriteRule ^fonts/(.*)$ assets/fonts/$1 [NC,L]
RewriteRule ^img/(.*)$ assets/img/$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(json|act)/ admin/index.php [L]
RewriteRule ^logout$ index.php?logout=true [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^scripts.js Utils/scripts.php [L]
RewriteRule ^scripts.css Utils/scripts.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>
<IfModule mod_expires.c>
	<Filesmatch "\.(jpg|jpeg|png|gif|js|css|swf|ico|woff|mp3|json)$">
		ExpiresActive on
		ExpiresDefault "access plus 30 days"
	</Filesmatch>
</IfModule>