<!DOCTYPE html>
<html lang="{LANGUAGE}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>{title}</title>
		<link rel="stylesheet" href="/css/fcddd62f559f5e59432c02cfbccf1c97.css" />
		<meta name="description" content="{description}" />
		<meta property="og:title" content="{title}" />
		<meta property="og:description" content="{description}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{url}" />
		<meta property="og:image" content="{ogimage}" />
		{FBAPPID}
		{GOOGLE_ANALYTICS}
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="{LOGO}" height="30" alt="{APP_NAME}" /></a>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav mr-auto">
							{menu}
						</ul>
						<div class="nav navbar-nav navbar-right">
							{menu_right}
						</div>
					</div>
				</nav>
			</div>
			<div class="row">
				<div class="col-12 bd-content">
					{content}
				</div>
			</div>
		</div>
		{MAIN_JAVASCRIPTS}
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	</body>
</html>